@model IEnumerable<Top_2000_mvc.Models.Artiest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naam)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Beheerder"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.artiestid }) |
@Html.ActionLink("Details", "Details", new { id = item.artiestid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.artiestid })
            }
        </td>
    </tr>
}

</table>
