@model IEnumerable<Top_2000_mvc.Models.Liedje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plaats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artiest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaatsVorigjaar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plaats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artiest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jaar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaatsVorigjaar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
