@model IEnumerable<Top_2000_mvc.Models.Liedje>

@{
    ViewBag.Title = "Index";
}

<h2>Top 2000</h2>
@if (ViewContext.HttpContext.User.IsInRole("Beheerder"))
{
<p>
    @Html.ActionLink("Nieuwe aanmaken", "Create")
</p>
}


<form asp-controller="Liedjes" asp-action="Index">
    <p>
        Zoek op titel: <input type="text" name="SearchString">
        <input type="submit" value="Zoeken" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plaats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artiest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jaar )
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p class="Plaats">@Html.DisplayFor(modelItem => item.Plaats)</p>
            </td>
            <td>
                <p class="Titel">@Html.DisplayFor(modelItem => item.Titel)</p>
            </td>
            <td>
                <p class="Artiest">@Html.DisplayFor(modelItem => item.Artiest)</p>
            </td>
            <td class="Jaar">
                <p class="Jaar">@Html.DisplayFor(modelItem => item.Jaar)</p>
            </td>
            @if (ViewContext.HttpContext.User.IsInRole("Beheerder"))
            {
                <td>
                    @Html.ActionLink("Aanpassen", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>}

        </tr>
    }

</table>
